// import the elements theme
@import '@springernature/elements/themes/springernature/scss/enhanced';

// import fonts
@import './fonts';

// import the elements components that the consumer application will need
@import '@springernature/elements/components/eds-c-header';
@import '@springernature/elements/components/eds-c-footer';

// utilities
@import '@springernature/elements/themes/springernature/scss/utilities';

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}